Repository aws/aws-parallelcluster, pull requests merged in 2024-05, with the labels that each got.

#6231 Test internal efs on arm and x86
  tests/integration-tests/configs/develop.yaml
  tests/integration-tests/tests/storage/test_internal_efs.py
Labels: skip-changelog-update

#6234 [Test] Validate the rollback of an invalid storage update within a dedicated test: 'test_dynamic_file_systems_update_rollback'
  tests/integration-tests/configs/develop.yaml
  tests/integration-tests/tests/update/test_update.py
  tests/integration-tests/tests/update/test_update/test_dynamic_file_systems_update_rollback/pcluster.config.update_rollback.yaml
  tests/integration-tests/tests/update/test_update/test_dynamic_file_systems_update_rollback/pcluster.config.yaml
  tests/integration-tests/tests/update/test_update/test_dynamic_file_systems_update_rollback/s3_test_file
Labels: skip-changelog-update, 3.x, Test

#6236 [Test] Reduce execution time for DFSM integ test
  tests/integration-tests/tests/update/test_update.py
Labels: skip-changelog-update, 3.x, Test

#6244 [Test] Allow custom OSes in test config for isolated regions.
  tests/integration-tests/configs/isolated_regions.yaml
Labels: skip-changelog-update, 3.x, Test

#6245 [Test] Add option 'bucket-name' to optionally reuse an existing bucket in tests.
  tests/integration-tests/README.md
  tests/integration-tests/conftest.py
  tests/integration-tests/test_runner.py
Labels: skip-changelog-update, 3.x, Test

#6246 [Integ-tests] Use default factory for data classes
  tests/integration-tests/framework/metadata_table_manager.py
Labels: skip-changelog-update

#6247 [integ-tests] Extend role duration to accommodate long tests
  tests/iam_policies/user-role.cfn.yaml
  tests/integration-tests/framework/credential_providers.py
Labels: skip-changelog-update

#6251 Pin setuptools version to be less than 70.0.0
  awsbatch-cli/setup.py
  cli/setup.py
  cloudformation/external-slurmdbd/requirements.txt
Labels: skip-changelog-update

#6250 [integ-tests] Fix integration tests in opt-in regions
  tests/integration-tests/framework/credential_providers.py
Labels: skip-changelog-update

#6243 [Test] Add integ tests to check that dynamic file systems updates does not cause data loss.
  tests/integration-tests/configs/develop.yaml
  tests/integration-tests/tests/storage/storage_common.py
  tests/integration-tests/tests/update/test_update.py
  tests/integration-tests/tests/update/test_update/test_dynamic_file_systems_update_data_loss/pcluster.config.no-storage.yaml
  tests/integration-tests/tests/update/test_update/test_dynamic_file_systems_update_data_loss/pcluster.config.yaml
Labels: skip-changelog-update, 3.x, Environment, Test

#6252 [Test] Add FSxLustre integration tests for us-iso-east-1.
  tests/integration-tests/configs/isolated_regions.yaml
Labels: skip-changelog-update, 3.x, Test

#6249 Update the Validator message to mention suppressing the validation when appropriate
  cli/src/pcluster/validators/ec2_validators.py
  cli/tests/pcluster/validators/test_ec2_validators.py
Labels: skip-changelog-update, 3.x

#6255 Pin setuptools version to be less than 70.0.0
  awsbatch-cli/setup.py
  cli/setup.py
Labels: skip-changelog-update

#6258 Update 3.9.2 changelog
  CHANGELOG.md
Labels: 3.x

#6259 [Test] Adapt the check of logrotate status in 'test_log_rotation' to support all OSes.
  tests/integration-tests/tests/log_rotation/test_log_rotation.py
Labels: skip-changelog-update, 3.x, Test

#6262 [Test] Replace t2.micro with t3.small in 'test_update_slurm'.
  tests/integration-tests/tests/update/test_update.py
  tests/integration-tests/tests/update/test_update/test_update_slurm/pcluster.config.update.yaml
Labels: skip-changelog-update, 3.x, Test
